.profile__info {
    display: flex;
    margin-right: auto;
    margin-left: 31px;
    max-height: 73px;
    max-width: 336px;
    flex-wrap: wrap;
}


@media (max-width: 880px)  {
    .profile__info {
       max-height: 54px;
       max-width: 282px;
       margin: 25px auto 36px auto;
       justify-content: center;
    }  
}