.auth__button-submit {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin: 184px 0 0 0;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000;
    background: #fff;
    border: none;
    border-radius: 2px;
}

.auth__button-submit:hover {
    opacity: 0.85;
}