.header {
    max-width: 880px;
    margin: 45px auto 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    box-sizing: border-box;
}

@media (max-width: 880px) {
    .header {
        max-width: 100%;
        margin-top: 28px;
        margin-bottom: 0;
    }    
}