.profile__button-avatar{
    width: 120px;
    height: 120px;
    background-color: transparent;
    background-image: url('../../../images/Vectoredit.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 0;
    padding: 0;
    transition: 0.6s;
    background-size: 26px;
}

.profile__button-avatar:hover {
    cursor: pointer;
}